* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* header section */
.main-header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    overflow: hidden;
}
.main-head{
    margin-top: 200px;
}
.header-heading{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;   
}

.heading-para{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.donate-btn-primary{
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 80px;
    margin-top: 30px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: rgb(133, 69, 69);
    border-radius: 5px;
}

/* donate-section */
.donate-today-area{
    /* align-items: center; */
    justify-content: center;
}

.donate-today{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 42px;
}

.donate-para{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
}

.money-card ul li{
    list-style: none;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px;



}

.money-card-list .border{
    border: 1px solid rgb(196, 105, 105);
}

.money-card-list{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.others-amount{
    text-align: center;
    margin-bottom: 10px;

}

.hr-line{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* our donate plan */
.donate-heading{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.donate-para{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.donate-category{
    display: flex;
    gap: 20px;
    margin: 30px 110px;
}

.food{
    margin-bottom: 20px;
}

.img-logo{
    margin-bottom: 20px;
}

/* blog & photo gallery */
.blog-container{
    margin-top: 180px;
    margin-bottom: 30px;
}

.blog-1{
    display: flex;
    justify-content: space-around;
}

.blog-image{
    width: 380px;
    height: 410px;

}

.blog-heading{
    font-size: 42px;
    font-weight: 600;
    margin-top: 50px;
}

.blog-para{
    margin-top: 20px;
}

.btn-blog{
    background: rgb(134, 69, 69);
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

.blog-2{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

/* updates section */
.updates{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.update-heading{
    font-weight: 700;
    font-size: 42px;
}

.update-para{
    margin-top: 30px;
}

/* contacts section */
.contacts-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 300px;
    background-color: rgb(190, 127, 75);
}
.mail{
    height: 50px;
    background: rgba(159, 189, 197, 0.658);
    width: 290px;
    border: none;
    padding: 10px 0;
    }
.subs{
    height: 50px;
    background: rgba(141, 71, 62, 0.986);
    border: none;
    padding: 10px 0;
    color: white;
    
}

/* footer section */
footer{
    background-color: black;
    width: 100%;
    height: 120px;
}

.footer-head{
    font-size: 42px;
    font-stretch: 800;
    text-align: center;
    color: rgba(148, 57, 51, 0.644);
    font-family: 'Open Sans', sans-serif;
    
}
.footer-para{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
}